@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<br />
<section id="team" class="section">
    <div class="container">
        @if (ViewBag.graduateUser != null)
        {
            @foreach (var item in ViewBag.graduateUser)
            {
                <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInRight" data-wow-duration="0.8s" data-wow-delay="0.6s">
                    Single Team
                    <div class="single-team">
                        <div class="team-head">
                            <img src="~/Assets/HomeContent/img/team2.png" alt="">
                            <div class="team-hover">
                                <ul class="social">
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-vimeo"></i></a></li>
                                    <li><a href="#"><i class="fa fa-github"></i></a></li>
                                    <li><a href="#"><i class="fa fa-code"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="t-name">
                            <h4>@item.Name<span>Designer</span></h4>
                        </div>
                    </div>
                </div>
            }

        }
        else
        {
            <h1>No Graduates</h1>
        }
    </div>
</section>